/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMONS */

.border{
    border: solid 1px gray;
}

.flex-container{
    display: flex;
}

.position{
    position: relative;
}

.common-width{
    width: 60%;
    margin: 0 auto;
}

.span-block{
    display: block;
}

.btn {
    background-color: #0061ff;
    color: #fff;
}

/* HEADER */
.head-container {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    top:5px;
    padding: 20px;
}

.menu{
    margin:0px 10px
}

.menu li{
    display: inline-block;
}

.menu ul {
    list-style: none;
}

.nav-element {
    text-decoration: none;
    padding: 20px;
    color: #000;   
}

.header-btn{
    text-decoration: none;
    padding: 5px 20px;
}

/* MAIN */


/* HERO */
.hero-container {
    padding-top:70px;
    background-color: #b4d0e7;    
}

.hero-content {
    width: 70%;
    margin: 0 auto;
    top: 100px;
    left: 0px;
}

h1{
    font-size: 90px; 
}

.text-img{
    padding-top: 50px;
    /* per spazire txt e img da h1 */
}

.hero-text{
    width:30%;
    flex-direction: column;
    font-size: 18px;
}

.hero-img {
    width: 70%;
}

.hero-img img{
    width: 1000px    
}

.hero-btn{
    text-decoration: none;
    text-align: center;
    width: 280px;
    padding:15px 5px;
    margin: 30px 0px;
    
}

.arrow-down{
    font-size: 50px;
    text-decoration: none;
    color: #000;
    top: 110px ;
    left: 0;
}

/* PLANS */

.plans{
    margin-top: 200px;
}

.plans ul {
    list-style: none;
}

.plans a {
    text-decoration: none;
    background-color: aquamarine;
}

.plan-cards{
    justify-content: space-between;
}

.pl-card{
    width: calc(100% / 3 - 30px);
    padding: 20px;   
}

.plans-bottom {
    margin-top: 50px
}

.botbrdr{
    border-bottom: solid 1px gray;
}

.plans-bot-text{
    width: 70%;
}

.plans-bot-btn{
    width: 30%;
}

.user-icon::before{
    font-family: 'Font Awesome 5 Free';
    content: '\f007';
    
    
}

.folder-icon::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f007';
    padding-bottom: 20px;
}

.share-icon::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f007';
    padding-bottom: 20px;
}

/* PARTNERS */

.partners{
    margin-top: 100px;
}

.partners img{
    width: 60%;
}

.partners-text{
    width: 30%;
    top: 50px;
    left:50px;
}

/* OPERATIONS */

.operations{
    margin-top:100px;
}

.op-cards{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.op-cards img{
    width: 100%;
}

.op-s-card{ 
    width:30%;
}

/* INFO-BUSINESS */

.info-business{
    justify-content: flex-start;
}

.info-b-content{
    padding:100px 100px 100px 0px;

}

/* CORPORATIONS */

.corporations {
    background-color: #b4d0e7;
}

.corporations a {
    text-decoration: none;
    background-color: aquamarine;   
}

.corp-box img{
    width: 100px;
    filter: invert(100%) sepia(97%) saturate(10%) hue-rotate(215deg) brightness(101%) contrast(100%);
}

.corp-box{
    width: calc(100% / 3);
}

.cx{
    padding: 40px;
}

.cx img{
    width: 200px;
    filter: invert(0%) sepia(0%) saturate(7494%) hue-rotate(136deg) brightness(108%) contrast(95%);
}

.corp-bottom{
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}


/* FAQ */

.faq{
    margin-top: 100px;
}

.faq-box{
    border-top: solid 1px gray;
}


/* FOOTER */

footer{
    background-color: #000;
    margin-top: 100px;
}

footer h4{
    color: #fff;
}

.list-container {
    justify-content: space-between;
    
}

.f-list {
    padding: 100px 0px;
    flex-direction: column;
}

.f-list ul {
    list-style: none;
}

.f-list a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.language {
    color: #fff; 
}

.italian{}