/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COMMONS */

.border{
    border: solid 2px red;
}

@font-face {
    font-family: 'Open Sans';
    font-style: italic;
    font-weight: 400;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/opensans/v29/memQYaGs126MiZpBA-UFUIcVXSCEkx2cmqvXlWq8tWZ0Pw86hd0Rk8ZkWV0ewJER.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

.flex-container{
    display: flex;
}

.position{
    position: relative;
}

.common-width{
    width: 60%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    display:inline-block ;
}

a {
    text-decoration: none;
    background-color: aquamarine;
}

.span-block{
    display: block;
}

/* HEADER */
.head-container {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}


/* MAIN */


/* HERO */
.hero-container {
    padding-top:70px;
    background-color: #b4d0e7;    
}

.hero-content {
    width: 70%;
    margin: 0 auto;
    top:120px;
    left: 0px;
}

h1{
    font-size: 90px;
    font-weight: bolder;
}

.text-img{
    padding-top: 50px;
    /* per spazire txt e img da h1 */
}

.hero-img img{
    width: 100%;    
}

/* PLANS */

.plans{
    margin-top: 200px;
}

.plan-cards{
    justify-content: space-between;
}

.pl-card{
    width: calc(100% / 3 - 30px);
    padding: 20px;   
}

.plans-bot-text{
    width: 70%;
}

.plans-bot-btn{
    width: 30%;
}

/* PARTNERS */

.partners{
    margin-top: 100px;
}

.partners img{
    width: 60%;
}

.partners-text{
    width: 30%;
    top: 50px;
    left:50px;
}



