/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

/* COMMONS */

.border {
    border: solid 1px gray;
}

.flex-container {
    display: flex;
}

.position {
    position: relative;
}

.common-width {
    width: 60%;
    margin: 0 auto;
}

.botbrdr {
    border-bottom: solid 1px gray;
}

.span-block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.btn {
    background-color: #0061ff;
    color: #fff;
}

.gray-txt {
    color: gray;
}

.padding10px {
    padding: 10px 0px;
}

.padding20px {
    padding: 20px 0px;
}

.margin10px {
    margin: 10px 0px;
}

.margin20px {
    margin: 20px 0px;
}

.txt-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.mid-margin {
    margin: 50px 0px;
}

.big-margin {
    margin: 100px 0px;
}

/* HEADER */
.head-container {
    height: 70px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.logo{
    top:5px;
    padding: 20px;
}

.menu{
    margin:0px 10px
}

.menu ul {
    list-style: none;
}

.dropdown-element{
    display: block;
}

.nav-element {
    text-decoration: none;
    padding: 20px;
    color: #000;   
}

.nav-element:hover{
    background-color: rgba(218, 218, 218);
}

.dropdown-content{
    display: none;
    width: 200px;
    background-color: rgb(218, 218, 218);
    position: absolute;
    left:0px;
    top:46px;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.header-btn{
    text-decoration: none;
    padding: 5px 20px;
}

/* MAIN */


/* HERO */
.hero-container {
    padding-top:70px;
    background-color: #b4d0e7;    
}

.hero-content {
    width: 70%;
    margin: 0 auto;
    top: 100px;
    left: 0px;
}

h1{
    font-size: 90px; 
}

.text-img{
    padding-top: 50px;
    /* per spazire txt e img da h1 */
}

.hero-text{
    width:30%;
    flex-direction: column;
    font-size: 18px;
}

.hero-img {
    width: 70%;
}

.hero-img img{
    width: 1000px    
}

.hero-btn{
    text-decoration: none;
    text-align: center;
    width: 280px;
    padding:15px 5px;
    margin: 30px 0px;
    
}

.arrow-down{
    font-size: 50px;
    text-decoration: none;
    color: #000;
    top: 110px ;
    left: 0;
}

/* PLANS */

.plans{
    margin-top: 200px;
}

.radio-check{
    padding: 50px 0px;
}

.radio{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    margin-right:5px;
    vertical-align: middle;
}

.checked{
    border: #0061ff solid 5px;
}

.unchecked{
    border: gray solid 2px;
}

.billing {
    margin-right: 50px; 
    line-height: 20px;
}

.plans ul {
    list-style: none;
}

.plan-cards{
    justify-content: space-between;
}

/* .plan-cards:hover{
    filter: blur(3px);
} Effetto che mi piacerebbe provare a fare */

.pl-card{
    width: calc(100% / 3 - 30px);  
}

/* .pl-card:hover{
    transform: scale(1.1);
} Effetto che mi piacerebbe provare a fare */

.contact-us{
    padding-bottom: 46px;
    /* altrimenti non si allineano più i bottoni */
}

.inner-card{
    padding: 20px;
    flex-direction: column;
}

.card-btn{
    text-decoration: none;
    text-align: center;
    padding: 15px 20px;
    top:40px;
    left: 60px;
    font-size: 18px;
}

.inner-card hr{
    width: 60px;
    margin: 50px 0px;

}

.plans-bottom {
    margin-top: 50px
}

.plans-bot-text{
    width: 70%;
    margin-left: 30px;
}

.plans-bot-text p{
    padding: 50px 0px;
    font-size: 18px;
}

.plans-bot-btn{
    width: 30%;
}

.user-icon::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f007';
    margin-right: 10px;   
}

.group-icon::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f0c0';
    margin-right: 10px;
     
}

.company-icon::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f1ad';
    margin-right: 10px;
}

.folder-icon::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f07b';
    padding-bottom: 50px;
    margin-right: 10px;
}

.share-icon::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f064';
    margin-right: 10px;
}

.check-icon::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: '\f00c';
    margin-right: 10px;
    color: #0061ff;
}


/* PARTNERS */

.partners{
    margin-top: 100px;
}

.partners img{
    width: 60%;
}

.partners-text{
    width: 30%;
    top: 50px;
    left:50px;
}

.partners-btn{
    text-decoration: none;
    color: #000;
    padding: 20px;
    top:50px;
    left:0;
}

/* OPERATIONS */

.operations{
    margin-top:100px;
}

.op-cards{
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}

.op-cards img {
    width: 100%;
}

.op-s-card { 
    width:30%;
}

/* INFO-BUSINESS */

.info-business {
    justify-content: flex-start;
}

.info-b-content {
    padding:100px 100px 100px 0px;

}

.info-b-content h2 {
    margin: 100px 0px;
    font-size: 60px;
}

/* CORPORATIONS */

.corporations {
    background-color: #b4d0e7;
}

.corp-box img {
    filter: invert(100%);
}

.corp-box {
    width: 100vw;
    height: 60vh;
}

.cx {
    padding: 40px;
    background-color: #f5f5f5 ;
}

.cx p {
    font-size: 17px;
}

.cx span {
    font-size: 17px;
}

.cx img {
    width: 200px;
    filter: invert(0%);
}

.square-sx{
    flex-wrap: wrap;
}

.logo1 {
    background-color: #5d2c64;
    width: 50%;
    height: 50%;
    padding:80px;
}

.logo2 {
    background-color: #9ef7d4;
    width: 50%;
    height: 50%;
    padding: 80px;
}

.logo3 {
    background-color: #ff6c31;
    width: 50%;
    height: 50%;
    padding: 120px 60px;
}

.logo4 {
    background-color: #0093ce;
    width: 50%;
    height: 50%;
    padding: 80px;
}


.square-dx {
    flex-wrap: wrap;
}

.logo5 {
    background-color: #2affe0;
    width: 50%;
    height: 50%;
    padding: 80px;
}

.logo6 {
    background-color: #4b2f18;
    width: 50%;
    height: 50%;
    padding: 80px;
}

.logo7 {
    background-color: #f2db7e;
    width: 50%;
    height: 50%;
    padding: 80px;
}

.logo8 {
    background-color: #0027cf;
    width: 50%;
    height: 50%;
    padding: 80px;
}

.selection:hover{
    border: 10px solid rgba(0, 0, 0, 0.5);
}

.corp-bottom {
    justify-content: space-between;
    align-items: center;
    padding: 100px 0px;
}

.corp-bottom h2{
    font-size: 45px ;
}

.contain-txt{
    width: 60%;

}

.contain-btn{
    width: 40%;
    margin-left: 150px;
}

.corp-btn {
    background-color: #ececec;
    text-decoration: none;
    color: #000;
    border: #000 solid 1px;
    padding: 20px;
    bottom:20px;
}


/* FAQ */

.faq{
    margin-top: 100px;
}

.faq-box{
    border-top: solid 1px gray;
}

.answer{
    display: none;
}

.faq-box:hover{
    display:block
}

.arrow-down-icon{
    position: relative;
    bottom: 40px;
    left: 1020px;
    display: none;
}

.arrow-up-icon{
    position: relative;
    bottom:40px;
    left: 1020px;
}

.faq-box:hover{
    cursor: pointer;
}

.faq-box:hover .answer{
    display: block;
}

.faq-box:hover .arrow-down-icon{
    display: block;
}

.faq-box:hover .arrow-up-icon{
    display: none;
}



/* FOOTER */

footer{
    background-color: #000;
    margin-top: 100px;
}

footer h4{
    color: #fff;
}

.list-container {
    justify-content: space-between;
    
}

.f-list {
    padding: 100px 0px;
    flex-direction: column;
}

.f-list ul {
    list-style: none;
}

.f-list a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

.f-list a:hover {
    text-decoration: underline;
}

.f-list h4 {
    margin-bottom:40px;
}

.language hr {
    margin: 30px 0px;
    color: #fff;
    width: 130px;
}

.italian {
    color: #fff;
    padding-bottom: 30px;
    background-color: #000;
    font-size: 16px;
}

.italian::before {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f7a2';
    margin-right:10px;
}

.italian::after {
    font-family: 'Font Awesome 6 Free';
    font-weight: 900;
    content: '\f0d8';
    margin-left: 10px;
}